{% extends 'core/base.html' %}
{% block content %}
<div class='container mt-5'>
    <h1 class='text-warning mb-5 border-bottom'>PROJECT</h1>

    <div class='row text-center text-white mb-lg-4'>
        <div class='col-sm-4'>
            <i class="fa-solid fa-clipboard-user fa-3x mb-3 i-colo"></i>
            <h4>Face recognition attendance system</h4>
            <p class='ss-color' >Facial recognition using open cv library that detect face and mark
            the attendance of person automatically.</p>
            <a href='https://github.com/poojajain9625/face_recognition-attendance_system.git' target='_blank' class='mb-3' style="text-decoration:none; font-size:20px;">(Source Code)</a>
        </div>
        <div class='col-sm-4'>
            <i class="fa-solid fa-database fa-3x mb-3 i-colo"></i>
            <h4>CRUD Project</h4>
            <p class='ss-color'>This is a CRUD (Create, Read, Update, Delete) web application built 
                using Django, a high-level Python web framework. The project demonstrates the basic 
                functionalities of creating, reading, updating, and deleting items in a database.
            </p>
            <a href='https://github.com/poojajain9625/house-price-prediction-.git' target='_blank' class='mb-3' style="text-decoration:none; font-size:20px;">(Source Code)</a>
        </div>
        <div class='col-sm-4 '>
            <i class="fa-solid fa-virus-covid fa-3x mb-3 i-colo"></i>
            <h4>Covid-19</h4>
            <p class='ss-color'>COVID-19 patient outbreak analysis and prediction using Machine
                Learning. In this project predict the data of death patient, confirmed patient, recovered patient.  </p>
                <a href='https://github.com/poojajain9625/covid-19-.git' target='_blank' class='mb-3' style="text-decoration:none; font-size:20px;">(Source Code)</a>
        </div>
        <div class='col-sm-4'>
            <i class="fa-regular fa-address-card fa-3x mb-3 i-colo"></i>
            <h4>Portfolio</h4>
            <p class='ss-color'>In portfolio a brief information about myself. In this portfolio I will use 
                HTML, CSS, Django. In this portfolio I have provided my contact details, skills, project information, and etc. 
            </p>
            {% comment %} <a href='https://github.com/poojajain9625/house-price-prediction-.git' target='_blank' class='mb-3' style="text-decoration:none; font-size:20px;">(Source Code)</a> {% endcomment %}
        </div>
        <div class='col-sm-4'>
            <i class="fa-solid fa-building-columns fa-3x mb-3 i-colo"></i>
            <h4>Bank Management System</h4>
            <p class='ss-color '>Bank Management system using python .The user can see transaction information, balance 
                inquiries, credit and debit amounts, and more. The data is stored in SQL database. and GUI 
                used as Tkinter</p>
        </div>
        <div class='col-sm-4 mb-12'>
            <i class="fa-solid fa-house fa-3x mb-3 i-colo"></i>
            <h4>House Price Prediction-Advanced Regression
                Techniques</h4>
            <p class='ss-color mb-xxl-2'>House price prediction using machine learning can help the developer determine the selling price of a house and can help the
                customer to arrange the right time to purchase a house.(Kaggle Competition)</p>
                <a href='https://github.com/poojajain9625/house-price-prediction-.git' target='_blank' class='mb-3' style="text-decoration:none; font-size:20px;">(Source Code)</a>
        </div>       
            
    </div>
</div>    
{% endblock content %}